.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.button {
	background: $second;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	color: $font;
	text-decoration: none;
	text-align: center;
}

@media (min-width: 768px) {
	.buttons {
		gap: 10px;
	}

	.button {
		padding: 10px;
		border-radius: 10px;
		font-size: 24px;
	}
}