.card {
  width: 80px;
  height: 120px;
  border-radius: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid $bg;

  &.active {
    border: 2px solid $font;
    box-shadow: 0 0 3px 0 $font;
  }

  .value {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .rule {
    display: flex;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    height: 52px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .card {
    width: 100px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;

    .value {
      font-size: 40px;
    }

    .rule {
      font-size: 13px;
      height: 64px;
    }
  }
}