.palette {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;

  .profile {
    display: block;
    width: 45px;
    height: 45px;
    background: $second;
    border-radius: 23px;
    border: 2px solid $third;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
  }

  .score {
    padding: 2px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    flex-direction: column;

    &.win {
      border: 2px solid $active;
      border-radius: 5px;
    }
  }

  .cards {
    flex-grow: 1;
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .card {
    width: 30px;
    height: 45px;

    .value {
      font-size: 24px;
    }

    .rule {
      display: none;
    }
  }

  .text {
    flex-grow: 1;
    font-size: 18px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .palette {
    padding: 7px;

    .profile {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      font-size: 26px;
    }

    .score {
      padding: 5px;
      font-size: 18px;

      &.win {
        border-radius: 10px;
      }
    }

    .card {
      width: 40px;
      height: 60px;

      .value {
        font-size: 28px;
      }
    }

    .text {
      font-size: 24px;
      padding-left: 20px;
    }
  }
}