.palette {
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 45px;
	position: relative;

	.profile {
		display: block;
		height: 45px;
		background: $second;
		border-radius: 23px;
		border: 2px solid $third;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		cursor: pointer;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		min-width: 45px;
		max-width: 45px;
		padding: 0 10px;

		&.active {
			max-width: 100%;
		}
	}

	.score {
		width: 25px;
		margin-left: 20px;
		padding: 2px;
		font-size: 16px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-weight: bold;
		flex-direction: column;

		&.win {
			border: 2px solid $active;
			border-radius: 5px;
		}
	}

	.cards {
		flex-grow: 1;
		display: flex;
		gap: 5px;
		justify-content: center;
	}

	.card {
		width: 30px;
		height: 45px;

		.value {
			font-size: 24px;
		}

		.rule {
			display: none;
		}
	}

	.text {
		flex-grow: 1;
		font-size: 18px;
		padding-left: 15px;
	}
}

@media (min-width: 768px) {
	.palette {

		.profile {
			height: 60px;
			border-radius: 30px;
			font-size: 26px;
			min-width: 60px;
			max-width: 60px;
		}

		.score {
			width: 30px;
			margin-left: 30px;
			padding: 5px;
			font-size: 18px;

			&.win {
				border-radius: 10px;
			}
		}

		.card {
			width: 40px;
			height: 60px;

			.value {
				font-size: 28px;
			}
		}

		.text {
			font-size: 24px;
			padding-left: 20px;
		}
	}
}