@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$bg: #212121;
$font: #fafafa;
$second: #424242;
$third: #616161;
$active: #00c853;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $bg;
  color: $font;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100dvw;
  min-width: 360px;
}

.App {
  font-family: sans-serif;
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  gap: 10px;
}

@media (min-width: 768px) {
  .App {
    gap: 20px;
  }
}

.header {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  background: $second;
  border-radius: 5px;
}

@import 'menu';
@import 'offlineSettings';
@import 'card';
@import 'palette';
@import 'board';
@import 'hand';
@import 'buttons';
@import 'info';
@import 'rules';